{% extends 'admin/master.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_holl.css') }}">
{% endblock %}

{% block body %}
  <div class="form">
      <form action="" method="post">
          <label for="rows">Row count</label>
          <input type="number" name="rows" id="rows">
          <label for="columns">Coluns count</label>
          <input type="number" name="columns" id="columns">
          <button type="button" onclick="main()">Submit</button>
      </form>
  </div>

  <div class="main">
      <div class="holls">
        {% for i in data %}
          <a href="#" 
            class="cinema-link"
            data-id="{{ i.cinema_id }}"
            data-name="{{ i.cinema_name }}"
            data-rows="{{ i.holl_rows }}"
            data-columns="{{ i.holl_columns }}">
            {{ i.cinema_name }}
          </a>
        {% endfor %}
      </div>
      <div id="holl" class="holl"></div>        
  </div>

  <button type="button" onclick="saveStructure()">Save changes</button>

  <script src="{{ url_for('static', filename='js/holl_script.js') }}"></script>
{% endblock %}
