{% extends 'admin/master.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_holl.css') }}">
{% endblock %}

{% block body %}
  <div class="form">
      <form action="" method="post">
          <label for="rows">Row count</label>
          <input type="number" name="rows" id="rows">
          <label for="columns">Coluns count</label>
          <input type="number" name="columns" id="columns">
          <button type="button" onclick="main()">Submit</button>
      </form>
  </div>

  <div class="main">
      <div class="holls">
          <a href="#">Holl_1</a>
          <a href="#">Holl_2</a>
      </div>
      <div id="holl" class="holl"></div>        
  </div>

  <button type="button" onclick="">Submit</button>

  <script src="{{ url_for('static', filename='js/holl_script.js') }}"></script>
{% endblock %}
