<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/globals.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>
  <body>
    <div class="release-page" data-model-id="93:250">
      <div class="div">
        <div class="overlap">
          <div class="group">

            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>

            <div class="rectangle-4"></div>
            
          <div class="overlap-group-wrapper">
            <form action="{{ url_for('login') }}">
              <button class="btn" type="submit">Авторизація</button>
            </form>
          </div>
          <div class="text-wrapper-2">Головна</div>
          <div class="box" data-model-id="61:59-frame"><div class="rectangle"></div></div>  
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="text-wrapper-3">Українська метал газета</div>
              <div class="text-wrapper-4">ROKOPYS</div>
              
            </div>
          </div>
        </div>
        <img class="element" src="./static/img/5.jpg" />
        <div class="overlap-3">
          <p class="nathreism-khors">
            <span class="span"
              >Гурт з Ужгорода Nathreism викотив на днях дебютний сингл - Архаїчні Сни. Видно, що хлопці спираються на
              українську блекову сцену - чути вплив Khors, Drudkh, себто такий атмосферний чорний метал, про природу і
              вічне. Гарні мелодичні програші з клавішними підкреслюють вельми зграбно написаний текст. Крім того, мені
              сподобалась манера вокалу, у котрій легко розібрати слова. Словом, чекаємо альбом, поки що враження від
              діяльності гурту позитивні.</span
            >
          </p>
          <img class="r-3" src="./static/img/4.png" id="imgClickAndChange4" onclick="changeImage()" />
          <div class="group-2">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
          </div>
          <div class="text-wrapper-5">Релізи</div>
        </div>
        <div class="text-wrapper-6">19 квітня</div>
        <div class="text-wrapper-7">25 березня</div>
        <img class="img" src="./static/img/8.jpg" />
        <div class="overlap-4">
          <p class="drudkh-drudkh">
            <span class="span"
              >Збір для РДК — російського добровольчого корпусу 
              Ці хлопці рідко звертаються по допомогу.  Вони воюють на нашому боці, тримають оборону фрон і ризикують життям, аби наблизити нашу спільну перемогу.
              Сьогодні вони потребують позашляховик. Ціль — 250 000 грн. Настав той момент, коли ми маємо підставити своє українське плече. Навіть найменший донат — це крок до великої справи.
              
              Хто, як не ми? Коли як не зараз?
              <br>
              Реквізити для допомоги нижче
            </span>
            <br>
            <a
              href="https://send.monobank.ua/jar/ytvQgSWw1", target="_blank"
              rel="noopener noreferrer"
              ><span class="text-wrapper-8">Банка</span></a>
          </p>
          <img class="r-4" src="./static/img/4.png" id="imgClickAndChange3" onclick="changeImage()" />
          <div class="group-3">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
          </div>
          <div class="text-wrapper-9">Релізи</div>
        </div>
        <div class="text-wrapper-10">7 березня</div>
        <div class="overlap-5">
          <img class="vector-2" src="img/vector-5.svg" />
          <div class="rectangle-5"></div>
          <p class="trooylo-EP">
            <span class="span"
              >Київські хардкорні хлоп&#39;ята Trooylo близько тижня тому випустили EP &#34;Уєбани (Part2)&#34;. Альбом
              - продовження попереднього однойменного релізу, і це видно з тематики - традиційного для панку
              осмислювання усіляких житейських та суспільних проблем - комуняцтва, свавілля держиморд у нашій країні; як
              висловився сам гурт, &#34;про наболілі ідеї, що конструювали себе самі, шукаючи вихід різноманітними
              шляхами&#34;. Щодо музики - це сира панкуха з брудною гітарою і добротним басом, про мене - моцна і
              підхожа до духу текстів, лиш хочеться трохи швидшого темпу. У пісні &#34;Better dead than red&#34; мені
              зайшов оцей речитатив на половину пісні, добре хлоп стелить. Улюблена композиція - Мошпіт з мусорами.
              Загалом - гарний традиційний панк, слухайте!</span
            >
          </p>
          <img class="r-4" src="./static/img/4.png" id="imgClickAndChange2" onclick="changeImage()" />
          <div class="group-4">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
          </div>
          <div class="text-wrapper-11">Релізи</div>
        </div>
        <div class="text-wrapper-12">6 березня</div>
        <img class="element-2" src="./static/img/6.jpg" />
        <img class="element-3" src="./static/img/3.jpg"/>
        <div class="overlap-6">
          <p class="first-to-die">
            <span class="span"
              >В Xenotrone вийшов новий альбом -  Into the Void!
              Виставляємо цю новину звичайно із двотижневим запізненням, але вона справді варта вашої уваги. Автори чудового техно треш металу з Дніпра випустили свій перший повноформат! В ньому прекрасно поєднуються звичні для всіх поціновувачів трешу швидкі ударні, характерний вокал та рифи, а також техно мотиви та синти. А в сукупності це дає дуже незвичайне та приємне звучання. Що цікаво, виконавці умудрились поєднати треш метал з ембіентом, тому половина наповнення альбому - спокійні синтезаторні мелодії, які непогано розбавляють його. 
              Тож закликаємо всіх, кому близький цей жанр, або кому цікаво з ним познайомитися, послухати цей альбом та самим його оцінити!!</span>
          </p>
          <img class="r-4" src="./static/img/4.png" id="imgClickAndChange" onclick="changeImage()" />
          <div class="group-5">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
          </div>
          <div class="text-wrapper-13">Релізи</div>
        </div>
        <br>
        <p class="p">Схоже, ви долистали до кінця сторінки...</p>
      </div>
    </div>





    <script>
      function changeImage() {
        const img = document.getElementById("imgClickAndChange");
        const img2 = document.getElementById("imgClickAndChange2");
        const img3 = document.getElementById("imgClickAndChange3");
        const img4 = document.getElementById("imgClickAndChange4");
        const currentSrc = img.src;
        const currentSrc2 = img2.src;
        const currentSrc3 = img3.src;
        const currentSrc4 = img4.src;

        if (currentSrc4.includes("4.png") && !currentSrc4.includes("4-red.png")) {
          console.log("Image changed to red");
          img4.src = "./static/img/4-red.png";
        } else {
          img4.src = "./static/img/4.png";
        }

        if (currentSrc2.includes("4.png") && !currentSrc2.includes("4-red.png")) {
          console.log("Image changed to red");
          img2.src = "./static/img/4-red.png";
        } else {
          img2.src = "./static/img/4.png";
        }

        if (currentSrc3.includes("4.png") && !currentSrc3.includes("4-red.png")) {
          console.log("Image changed to red");
          img3.src = "./static/img/4-red.png";
        } else {
          img3.src = "./static/img/4.png";
        }

        
        if (currentSrc.includes("4.png") && !currentSrc.includes("4-red.png")) {
          console.log("Image changed to red");
          img.src = "./static/img/4-red.png";
        } else {
          img.src = "./static/img/4.png";
        }
      }

      const mobileMenu = document.getElementById("mobile-menu");
      const navList = document.querySelector(".nav-list");

      mobileMenu.addEventListener("click", () => {
          navList.classList.toggle("active");
      });
    </script>




</html>
