<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./static/css/globals.css" />
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>
  <body>
    <div class="release-page" data-model-id="93:250">
      <div class="div">
        <div class="overlap">
          <div class="group">

            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>

            <div class="rectangle-4"></div>
            
          <div class="overlap-group-wrapper">
          </div>
          <div class="text-wrapper-2">Авторизація</div>
          <div class="box" data-model-id="61:59-frame"><div class="rectangle"></div></div>  
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="text-wrapper-3">Українська метал газета</div>
              <div class="text-wrapper-4">ROKOPYS</div>

            </div>
            <div class="login-box">
                <div class="text-top">ЛОХін</div>
                    <input type="text" id="login_name" class="input" placeholder="login/email">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="text-top">Пароль</div>
                    <input type="password" id="myInput" class="input" placeholder="password">

                <br>
                <br>
                <br>
                <br>
                <button class='button' onclick="Login()">Увійти</button>
              
            </div>
          </div>
        </div>
    </body>

    <!-- Бургер меню -->
    <nav class="navbar">
        <div class="logo">ROKOPYS</div>
        <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        </div>  
        <ul class="nav-list">
        <li><a href="/home">Головна</a></li>
        <li><a href="/news">Релізи</a></li>
        <li><a href="#contact">Контакти</a></li>
        </ul>
    </nav>

    <script>
        function Login() {
            window.location.href = "/home";
        }

        const mobileMenu = document.getElementById("mobile-menu");
        const navList = document.querySelector(".nav-list");

        mobileMenu.addEventListener("click", () => {
            navList.classList.toggle("active");
        });
    </script>