alembic==1.14.0
backoff==2.2.1
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
distro==1.9.0
et_xmlfile==2.0.0
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Migrate==4.0.7
Flask-Simple-GeoIP==0.2.4
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet
idna==3.10
iniconfig==2.0.0
ipaddress==1.0.23
itsdangerous==2.2.0
Jinja2
Mako
MarkupSafe
mysqlclient
numpy
openpyxl
packaging
pandas
pluggy
PyMySQL
pytest
python-dateutil
pytz
requests
simple-geoip
six
SQLAlchemy
typing_extensions
tzdata
ua-parser
urllib3
user-agents
Werkzeug
WTForms
WTForms-SQLAlchemy
reportlab
user_agents
Flask
pymysql
flask_sqlalchemy
flask_admin
wtforms_sqlalchemy
reportlab
flask_migrate




