body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holl{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2px;
    width: min-content;
    justify-content: center;
    margin-top: 30px;
}

.seat{
    border: 2px solid black;
    width: 15px;
    height: 15px;
}

.add{
    width: 15px;
    height: 15px;
}

.add::before{
    content: "+  ";
}
