.modile_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    padding: 15px;
    background-color: gray;
}

.mobile_case{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_case p{
    color: white;
}