.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
};



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
    width: min-content;
    justify-content: center;
    margin: 30px 0;
}

.holls{
    width: min-content;
    margin-right: 30px;
}

.holl{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2px;
}

.seat{
    border: 2px solid black;
    width: 15px;
    height: 15px;
}

.empty{
    width: 15px;
    height: 15px;
}

.add{
    width: 15px;
    height: 15px;
}

.add::before{
    content: "+  ";
}
