<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">
    {% include('header.html') %}
      
      
  <main class="main">
    <!-- Home page's base 360 degris's slider -->

    <section class="slider row">
      <div class="slider-body">
        <div id="slideshow-form" class="slider-item" style="--j--:1">
          <a href="{{ url_for('movie', movie_name='Трансформери: повернення')}}">
            <input type="image" , src="./static/img/photo1.jpg" width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:2">
          <a href="{{ url_for('movie', movie_name='Веном 3')}}">

            <input type="image" , src="./static/img/venomposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:3">
          <a href="{{ url_for('movie', movie_name='Дикий робот')}}">

            <input type="image" , src="./static/img/robotposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:4">
          <a href="{{ url_for('movie', movie_name='Кодове імя: червоний')}}">

            <input type="image" , src="./static/img/redposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:5">
          <a href="{{ url_for('movie', movie_name='Буча')}}">

            <input type="image" , src="./static/img/buchaposter.jpg" name="selected_image" value="image5" id="slide5"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:6">
          <a href="{{ url_for('movie', movie_name='Гладіатор ІІ')}}">

            <input type="image" , src="./static/img/gladiatorposter.jpg" name="selected_image" value="image" id="slide7"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:7">
          <a href="{{ url_for('movie', movie_name='Божевільні')}}">
            <input type="image" , src="./static/img/poster07.jpg" name="selected_image" value="image7" id="slide7"
              width="250" height="350">
          </a>
        </div>
        <div class="slider-item" style="--j--:8">
          <a href="{{ url_for('movie', movie_name='Чародійка')}}">
            <input type="image" , src="./static/img/wickedposter.jpg" name="selected_image" value="image8" id="slide8"
              width="250" height="350">
          </a>
        </div>
      </div>
      <div class="button-wrapper">
        <button class="prev"> < </button>
            <button class="next">></button>
      </div>

    </section>

    <!-- end home page's base 360 degris's slider -->
  </main>

  {% include('footer.html') %}

  <script>
    const mediaQuery = window.matchMedia("(min-width: 460px)");


    function toggleMenu() {
      document.querySelector('.nav-menu').classList.toggle('active');
    }
    function toggleMenu() {
      document.querySelector('.mobile-menu').classList.toggle('active');
    }

    if (mediaQuery.matches) {
      var carousel = $(".slider-body"),
        currdeg = 0,
        autoplayInterval;

      $(".next").on("click", { d: "n" }, rotate);
      $(".prev").on("click", { d: "p" }, rotate);

      function rotate(e) {
        if (e.data.d == "n") {
          currdeg = currdeg - 45;
        }
        if (e.data.d == "p") {
          currdeg = currdeg + 45;
        }
        carousel.css({
          "-webkit-transform": "rotateY(" + currdeg + "deg)",
          "-moz-transform": "rotateY(" + currdeg + "deg)",
          "-o-transform": "rotateY(" + currdeg + "deg)",
          "transform": "rotateY(" + currdeg + "deg)"
        });
      }

      // Autoplay function
      function startAutoplay() {
        autoplayInterval = setInterval(function () {
          $(".next").trigger("click");
        }, 3000);  // Change 2000 to the desired interval in milliseconds
      }

      startAutoplay();  // Start autoplay initially

      // Stop autoplay on hover and resume on mouse leave
      carousel.on("mouseenter", function () {
        clearInterval(autoplayInterval);
      }).on("mouseleave", startAutoplay);

    }

  </script>

</body>

</html>