<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="fade-in user"> 
  <div class="home">


    {% include 'header.html' %}

  <main class="main user">
    <div class="login" id="login">
      <div class="form">
        <h1>Login</h1>
        <label for="">Login:</label>
        <input type="text" id="login_name" style="color: white;">
        <p></p>
        <label for="">Password:</label>
        <input type="password" id="myInput" style="color: white;">
        <label for="">
        <input type="checkbox" onclick="seePassword()">Show Password
        </label>
        <button type="submit", onclick="Login()">Login</button>
        <div class="chenge_form">
          <p>if you have don't have acaunt <a onclick="toggleBlocks()">register</a></p>
        </div>
      </div>
    </div>

    <div class="registration" id="registration">
      <div class="form">
        <h1>Singup</h1>
        <label for="">Email:</label>
        <input type="email" name='email' style="color: white;">
        <p></p>
        <label for="">First name:</label>
        <input type="text" name="first_name" style="color: white;">
        <label for="">Last name:</label>
        <input type="text" name="last_name" style="color: white;">
        <label for="">Create login:</label>
        <input type="text" name="log" style="color: white;">
        <label for="">Create password:</label>
        <input type="password" name='password' style="color: white;">
        <button type="submit", onclick="Singup()">Singup</button>
        <div class="chenge_form">
          <p>Do you have acount <a onclick="toggleBlocks()">login</a></p>
        </div>
      </div>
    </div>
    </div>

    <div class="profile">
      <div class="user_info">
        <div class="owner_info">
          <p>username:</p>
          <p>First name</p>

          <p>visited ganres:</p>
          <p>Horror, Sifi, Historical</p>

          <p>total visited:</p>
          <p>25</p>
        </div>
        <div class="history">
          <h1 onclick="switchStatus()">History</h1>
          <div class="history_info" id="history_info">
            <div class="history_stack">
              <p>film's name:</p>
              <p>Venom 3</p>

              <p>visited date:</p>
              <p>22.11.2024</p>
            </div>

            <div class="history_stack">
              <p>film's name:</p>
              <p>Venom 3</p>

              <p>visited date:</p>
              <p>21.11.2024</p>
            </div>

            <div class="history_stack">
              <p>film's name:</p>
              <p>Venom 3</p>

              <p>visited date:</p>
              <p>20.11.2024</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  {% include 'footer.html' %}

  </div>

  <script>

    function toggleMenu() {
      document.querySelector('.nav-menu').classList.toggle('active');
    }
    function toggleMenu() {
      document.querySelector('.mobile-menu').classList.toggle('active');
    }

    function seePassword() {  var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }}

    function isValidEmail(email) {
    let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

    function Singup() {
      let email = document.querySelector("#registration input[name='email']").value;
      let firstName = document.querySelector("#registration input[name='first_name']").value;
      let lastName = document.querySelector("#registration input[name='last_name']").value;
      let login = document.querySelector("#registration input[name='log']").value;
      let password = document.querySelector("#registration input[name='password']").value;

      if (!isValidEmail(email)) {
        alert(' Некоректний email \n Зразок коректного: example@gmail.com');
        return;
      }

      fetch('/singup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          email: email,
          first_name: firstName,
          last_name: lastName,
          login: login,
          password: password
        })})
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.success) {
              alert("Реєстрація успішна! Тепер можете увійти.");
              
              toggleBlocks(); 
          } else {
              alert("Помилка реєстрації: " + data.error);
          }
      })
      .catch(error => console.error('Error:', error))}


    function Login() {
      let login = document.querySelector("#login input[type='text']").value;
      let password = document.querySelector("#login input[type='password']").value;

      
      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          login: login,
          password: password
        })})
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.success) {
              alert("Ви успішно увійшли!");
              localStorage.setItem("loggedInUser", login);
              window.location.href = "/profile";
          } else {
              alert("Помилка входу: " + data.error);
          }
      })
      .catch(error => console.error('Error:', error))}
    



    function toggleBlocks() {
      const block1 = document.getElementById("login");
      const block2 = document.getElementById("registration");

      if (block1.style.display === "flex") {
        block1.style.display = "none";
        block2.style.display = "flex";
      } else {
        block1.style.display = "flex";
        block2.style.display = "none";
      }
    }

    function switchStatus() {
      const block = document.getElementById("history_info");

      if (block.style.display === "none") {
        block.style.display = "block";
      } else {
        block.style.display = "none";
      }
    }
  </script>
</body>

</html>