<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Кабінет користувача | Chaplin Cinema</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">

    {% include('header.html') %}

    <main class="main user-cabinet">
      <div class="profile-container">
        

        <div class="profile-card">
          <div class="avatar">
            <img src="/static/img/avatar.png" alt="User Avatar">
          </div>
          <h2 class="username">{{ user.first_name}} {{ user.last_name }}</h2>
          <p class="nickname">@{{ user.login }}</p>
          <p class="info"><strong>Останній візит:</strong> 12.05</p>
          <p class="info"><strong>Email:</strong>  {{ user.email }}</p>
          <p class="info"><strong>Дата створення акаунту:</strong> {{ user.date_of_creation }}</p>
          <p class="info"><strong>Квитків куплено:</strong> {{user.bought_tickets_summary}}</p>
          <p class="info"><strong>Улюблені жанри:</strong> {{user.visited_genres}}</p>
          <button class="edit-btn" onclick="editProfile()">Редагувати</button>
          <button class="logout-btn">Вийти</button>
          <br>
        </div>

        <!-- Права частина - Історія переглядів -->
        <div class="history">
          <h3>Історія відвіданих фільмів: </h3>
          <ul class="history-list">
            {% for movie in films %}
            <li>
              <span class="movie-title">{{ movie }}</span>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>

      <div class="movies-section">
        <h3>Новинки</h3>
        <div class="movies-list">
          <div class="movie-card">
            <img src="/static/img/photo1.jpg" alt="Новий фільм 1">
            <p class="movie-title">Avatar 3</p>
          </div>
          <div class="movie-card">
            <img src="/static/img/photo2.jpg" alt="Новий фільм 2">
            <p class="movie-title">Deadpool 3</p>
          </div>
          <div class="movie-card">
            <img src="/static/img/photo3.jpg" alt="Новий фільм 3">
            <p class="movie-title">Mad Max: The Wasteland</p>
          </div>
        </div>
      </div>
    
      <!-- Блок акцій -->
      <div class="movies-section">
        <h3>Акційні пропозиції</h3>
        <div class="movies-list">
          <div class="promo-card">
            <img src="/static/img/img1.webp" alt="Акція 1">
            <p class="promo-title">2 квитки за ціною 1</p>
          </div>
          <div class="promo-card">
            <img src="/static/img/img2.webp" alt="Акція 2">
            <p class="promo-title">Попкорн + Кола = знижка 30%</p>
          </div>
          <div class="promo-card">
            <img src="/static/img/img3.webp" alt="Акція 3">
            <p class="promo-title">Знижка для студентів -20%</p>
          </div>
        </div>
      </div>


    {% include('footer.html') %}

  </div>

  <script>

    function toggleMenu() {
      document.querySelector('.nav-menu').classList.toggle('active');
    }
    function toggleMenu() {
      document.querySelector('.mobile-menu').classList.toggle('active');
    }



    function editProfile() {
      alert("Функція редагування профілю у розробці.");
    }
  </script>
</body>
</html>
