<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">

    {% include('header.html') %}

    <main class="main">


      <div class="profile-viev">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
                <div class="text-in-card">
                  <h2>Yura Pistun</h2>
                  <p class="text-secondary mb-1">@Yureew</p>
                  <p class="text-muted font-size-sm">Last visited: 12.05</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>