<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="fade-in about">
  <div class="home">

  {% include 'header.html' %}  
  

  <main class="main about">
    <h1 style="font-size: 120px; color: azure;">Потребує інформації</h1>
       
  </main>

  

  {% include 'footer.html' %}
</body>

</html>