<footer class="footer">
    <div class="social_media">
      <p>Соцмережі</p>
      <a href="https://www.instagram.com/chaplin_cinema_lviv?igsh=MzRlODBiNWFlZA=="
        class="footer_info">Chaplin_cinema_lviv</a>
    </div>
    <div class="contacts">
      <p>Контакти</p>
      <a class="footer_info">+38(050)2984715</a>
    </div>
    <div class="map">
      <p>Адреса</p>
      <a href="https://maps.app.goo.gl/LWnM3gZXC6ZhS7dT9"
       class="footer_info">проспект Червоної Калини, 81, Львів</a>
    </div>
  </footer>
  </div>