<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chaplin cinema</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">
    {% include('header.html') %}
      
      
  <main class="main homePage">
     <div class="session-row">
      <div class="sessions">
        <p>🕒 Найближчі сеанси</p>
        <div class="nearest">
          {% for movie in movies[-2:] %}
          <div class="mst_sesion">
            <a href="">
              <p>🎬 {{ movie.name }}</p>
              <p>🎫 </p>
            </a>
          </div>
          <!-- <button class="book_button">🎫 Time</button> -->
          {% endfor %}
        </div>
        <!-- <div class="weekly">
          <p>🗓️ Прем'єри тижня</p>

          <a href="">🎬 Test</a>
        </div> -->
      </div>
    </div>
    
    <h1>Прем'єри тижня</h1>

    {% if mobile %}
      {% for movie in movies %}
        <div class="film-session">
          <div class="film-item">
            <div class="film-inf">
              <h1 style="font-size: 20px;">{{ movie.name }}</h1>
              <p>{{ movie.age }}</p>
              <p>{{ movie.genre }}</p>
              <!-- <p>{{ movie.description }}</p> -->
              <button class="button">Переглянути</button>
            </div>
            <img src="{{ movie.img_src }}" alt="{{ movie.title }}">
          </div>
        </div>
      {% endfor %}
    {% else %}
    
    <!-- Home page's base 360 degris's slider -->

    <section class="slider row">
      <!-- <div class="slider-body">
        {% for movie in movies[-8:] %}
        <div id="slideshow-form" class="slider-item" style="--j--:{{ loop.index }}">
          <input type="image" , src="{{ movie.img_src }}" width="250" height="350">
          <a href="{{ url_for('movie', movie_name='{{ movie.title }}')}}">
            <div class="slider-film-back">
              <div class="slider-film-button">
                  <button>info</button>
                <button>trailer</button>
              </div>
              <div class="slider-film-info">
                <p>Назва: {{ movie.name }}</p>
                <p>Жанр: {{ movie.genre }}</p>
                <p>Тривалість: {{ movie.duration }}</p>
                <p>Вік: {{ movie.age }}</p>
              </div>
            </div>
            <div class="inf">
              <div class="d">2D</div>
              <div class="age">{{ movie.age }}</div>
            </div>
          </a>
          
        </div>
      {% endfor %}

        
      </div>
      <div class="button-wrapper">
        <button class="prev"> < </button>
            <button class="next">></button>
      </div> -->

      <div class="slideshow">
            <div class="slide-track">
              {% for movie in movies[-8:] %}
              <div id="slide" class="slide">
                <input type="image" , src="{{ movie.img_src }}" width="250" height="350">
                <a href="{{ url_for('movie', movie_name='{{ movie.title }}')}}">
                  <div class="slider-film-back">
                    <div class="slider-film-button">
                        <button>info</button>
                      <button>trailer</button>
                    </div>
                    <div class="slider-film-info">
                      <p>Назва: {{ movie.name }}</p>
                      <p>Жанр: {{ movie.genre }}</p>
                      <p>Тривалість: {{ movie.duration }}</p>
                      <p>Вік: {{ movie.age }}</p>
                    </div>
                  </div>
                  <div class="inf">
                    <div class="d">2D</div>
                    <div class="age">{{ movie.age }}</div>
                  </div>
                </a>
                
              </div>
            {% endfor %}
            </div>
        </div>
        <div class="slid-buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
    </section>

    <!-- end home page's base 360 degris's slider -->
    {% endif %}
  </main>

  {% include('footer.html') %}

  <script>
    
        // ===========================slideshow================================
        const track = document.querySelector('.slide-track');
        const slides = document.querySelectorAll('.slide');
        const slideWidth = 300 + 7; // ширина + відступ
        const slideCount = slides.length;

        document.getElementById('next').addEventListener('click', () => {
        track.style.transition = 'transform 0.5s ease';
        track.style.transform = `translateX(${-slideWidth}px)`;

        // після закінчення анімації переміщаємо перший слайд в кінець
        setTimeout(() => {
            track.style.transition = 'none';
            track.appendChild(track.firstElementChild);
            track.style.transform = 'translateX(0)';
        }, 500);
        });

        document.getElementById('prev').addEventListener('click', () => {
        // переміщаємо останній слайд в початок перед анімацією
        track.insertBefore(track.lastElementChild, track.firstElementChild);
        track.style.transition = 'none';
        track.style.transform = `translateX(${-slideWidth}px)`;

        setTimeout(() => {
            track.style.transition = 'transform 0.5s ease';
            track.style.transform = 'translateX(0)';
        }, 20);
        });

  </script>

</body>

</html>