<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chaplin cinema</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">
    {% include('header.html') %}
      
      
  <main class="main homePage">
     <div class="session-row">
      <div class="sessions">
        <h1 > Найближчі сеанси</h1>
        <div class="nearest">
          {% for movie in movies[-2:] %}
          <div class="mst_sesion">
            <div id="slide" class="slide">
                <input type="image" , src="{{ movie.img_src }}">
                <a href="{{ url_for('movie', movie_name=movie.name) }}">
                  <div class="slider-film-back">
                    <div class="slider-film-button">
                      <button>ℹ</button>
                      <p>Інформація про фільм</p>
                      <button>▶</button>
                      <p>Переглянут трейлер</p>
                    </div>
                    <div class="slider-film-info">
                      <p>Назва: {{ movie.name }}</p>
                      <p>Жанр: {{ movie.genre }}</p>
                      <p>Тривалість: {{ movie.duration }}</p>
                      <p>Вік: {{ movie.age }}</p>
                    </div>
                  </div>
                  <div class="inf">
                    <div class="d">2D</div>
                    <div class="age">{{ movie.age }}</div>
                  </div>
                </a>
                
              </div>
          </div>
          <!-- <button class="book_button">🎫 Time</button> -->
          {% endfor %}
        </div>
        <!-- <div class="weekly">
          <p>🗓️ Прем'єри тижня</p>

          <a href="">🎬 Test</a>
        </div> -->
      </div>
    </div>
    
    <h1>Прем'єри тижня</h1>

    
    
    <!-- Home page's base 360 degris's slider -->
      <div class="slideshow">
        <div class="slide-track">
              {% for movie in movies[-6:] %}
              <div id="slide" class="slide">
                <input type="image" , src="{{ movie.img_src }}">
                <a href="{{ url_for('movie', movie_name=movie.name) }}">
                  <div class="slider-film-back">
                    <div class="slider-film-button">
                      <button>ℹ</button>
                      <p>Інформація про фільм</p>
                      <button>▶</button>
                      <p>Переглянут трейлер</p>
                    </div>
                    <div class="slider-film-info">
                      <p>Назва: {{ movie.name }}</p>
                      <p>Жанр: {{ movie.genre }}</p>
                      <p>Тривалість: {{ movie.duration }}</p>
                      <p>Вік: {{ movie.age }}</p>
                    </div>
                  </div>
                  <div class="inf">
                    <div class="d">2D</div>
                    <div class="age">{{ movie.age }}</div>
                  </div>
                </a>
                
              </div>
            {% endfor %}
          </div>
          
        </div>
      

    <!-- end home page's base 360 degris's slider -->


    
      <div class="navbar">
          <div class="effect"></div>
          <button class="active">
              <i class="bx bx-home"></i>
          </button>
          <button>
              <i class="bx bx-user"></i>
          </button>
          <button class="plus">
              <i class="bx bx-plus"></i>
          </button>
          <button>
              <i class="bx bx-shopping-bag"></i>
          </button>
          <button>
              <i class="bx bx-chat"></i>
          </button>
      </div>







  </main>

  {% include('footer.html') %}
{% if not mobile %}
  <script>
    
    const track = document.querySelector('.slide-track');
    const slides = document.querySelectorAll('.slide');
    const effect = document.querySelector('.effect');
    const buttons = document.querySelectorAll('.navbar button:not(.plus)');

    const slideWidth = 300;

    let offset = 0;
    let lastX = 0;
    let isDragging = false;

    // дублюємо для циклу
    track.innerHTML += track.innerHTML;

    // рендер з нескінченним циклом
    function render() {
        const fullWidth = slideWidth  * slides.length * slides.length;

        if (offset < -fullWidth) offset += fullWidth;
        if (offset > 0) offset -= fullWidth;

        track.style.transform = `translateX(${offset}px)`;
        requestAnimationFrame(render);
    }
    render();

    // Рух
    function dragMove(x) {
        if (!isMouseDown) return; // ❗ без цього НІЧОГО не рухаємо

        const dx = x - lastX;
        lastX = x;

        offset += dx;
    }

    let isMouseDown = false;

    track.addEventListener("mousedown", (e) => {
      isMouseDown = true;
      lastX = e.clientX;
      console.log("Кнопка миші затиснута, button:", e.button);
    });

    track.addEventListener("mouseup", (e) => {
      isMouseDown = false;
      console.log("Кнопка миші відпущена, button:", e.button);
    });

    track.addEventListener("mousemove", (e) => {
      if (isMouseDown) {
        console.log("Тримаємо кнопку і рухаємо мишу. x:", e.clientX, "y:", e.clientY);
        dragMove(e.clientX);
      }
    });


    buttons.forEach(button => {

    button.addEventListener('click', e => {

        const x = e.target.offsetLeft;

        buttons.forEach(btn => {
            btn.classList.remove('active');
        })

        e.target.classList.add('active');

        anime({
            targets: '.effect',
            left: `${x}px`,
            opacity: '1',
            duration: 600
        })

    })

})


  </script>
{% endif %}
</body>

</html>