<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chaplin cinema</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="fade-in">
  <div class="home">
    {% include('header.html') %}

    <div class="extra">
      <div class="dropdown">
        <div class="bckap">
          <div class="button-wrapper">
            <li>
              <div class="button"><a>Ваше місто: <span id="selected-city" class="selected-city">Виберіть
                    місто</span></a></div>
              <div class="dropdown-content">
                {% for c in cities %}
            <li><button class="button city-btn" data-city='{{c}}'>{{c}}</button></li>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <main class="main homePage">
      <div class="session-row">
        <div class="sessions">
          <h1> Найближчі сеанси</h1>
          <div class="nearest">
            {% for movie, s in nearest %}
            <div id="slide" class="slide">
              <a href="{{ url_for('movie', movie_name=movie.name) }}">
                <div class="visual_slide">
                  <img src="{{ movie.img_src }}" alt="">
                  <div class="slider-film-back">
                    <div class="slider-film-button">
                      <button>ℹ</button>
                      <p>Інформація про фільм</p>
                      <button>▶</button>
                      <p>Переглянут трейлер</p>
                    </div>
                    <div class="slider-film-info">
                      <p>Назва: {{ movie.name }}</p>
                      <p>Жанр: {{ movie.genre }}</p>
                      <p>Тривалість: {{ movie.duration }}</p>
                      <p>Вік: {{ movie.age }}</p>
                    </div>
                  </div>
                  <div class="inf">
                    <div class="time">{{ s.session_datetime.strftime("%H:%M") }}</div>
                    <div class="d">2D</div>
                    <div class="age">{{ movie.age }}</div>
                  </div>
                </div>
                {% if mobile %}
                <div class="short_data">
                  <p id="movie_tittle">{{ movie.name }}</p>
                  <p id="movie_gange">{{ movie.genre }}</p>
                </div>
                {% endif %}
              </a>

            </div>
            <!-- <button class="book_button">🎫 Time</button> -->
            {% endfor %}
          </div>
          <!-- <div class="weekly">
          <p>🗓️ Прем'єри тижня</p>

          <a href="">🎬 Test</a>
        </div> -->
        </div>
      </div>

      <h1>Прем'єри тижня</h1>



      <!-- Home page's base 360 degris's slider -->
      <div class="slideshow">
        <div class="slides-viewport">
          <div class="slide-track">
            {% for movie in movies[-6:] %}
            <div id="slide" class="slide">
              <a href="{{ url_for('movie', movie_name=movie.name) }}">
                <div class="visual_slide">
                  <img src="{{ movie.img_src }}" alt="">
                  <div class="slider-film-back">
                    <div class="slider-film-button">
                      <button>ℹ</button>
                      <p>Інформація про фільм</p>
                      <button>▶</button>
                      <p>Переглянут трейлер</p>
                    </div>
                    <div class="slider-film-info">
                      <p>Назва: {{ movie.name }}</p>
                      <p>Жанр: {{ movie.genre }}</p>
                      <p>Тривалість: {{ movie.duration }}</p>
                      <p>Вік: {{ movie.age }}</p>
                    </div>
                  </div>
                  <div class="inf">
                    <div class="d">2D</div>
                    <div class="age">{{ movie.age }}</div>
                  </div>
                </div>
                {% if mobile %}
                <div class="short_data">
                  <p id="movie_tittle">{{ movie.name }}</p>
                  <p id="movie_gange">{{ movie.genre }}</p>
                </div>
                {% endif %}
              </a>

            </div>

            {% endfor %}
          </div>
        </div>
        <div class="slid-buttons">
          <button id="prev">
            <</button>
              <button id="next">></button>
        </div>
      </div>


      <!-- end home page's base 360 degris's slider -->

    </main>

    {% include('footer.html') %}
    {% if not mobile %}

  </div>
  <script>
    // ===========================slideshow================================
    const viewport = document.querySelector('.slides-viewport');
    const track = document.querySelector('.slide-track');
    let slides = Array.from(track.children);

    const slideWidth = slides[0].offsetWidth;
    const viewportWidth = viewport.offsetWidth;

    // how many slides are needed to fill screen
    const slidesNeeded = Math.ceil(viewportWidth / slideWidth);

    // clone slides until we have enough
    while (slides.length < slidesNeeded * 2) {
      slides.forEach(slide => {
        const clone = slide.cloneNode(true);
        track.appendChild(clone);
      });
      slides = Array.from(track.children);
    }

    document.getElementById('next').addEventListener('click', () => {
      track.style.transition = 'transform 0.5s ease';
      track.style.transform = `translateX(${-slideWidth}px)`;

      // після закінчення анімації переміщаємо перший слайд в кінець
      setTimeout(() => {
        track.style.transition = 'none';
        track.appendChild(track.firstElementChild);
        track.style.transform = 'translateX(0)';
      }, 500);
    });

    document.getElementById('prev').addEventListener('click', () => {
      // переміщаємо останній слайд в початок перед анімацією
      track.insertBefore(track.lastElementChild, track.firstElementChild);
      track.style.transition = 'none';
      track.style.transform = `translateX(${-slideWidth}px)`;

      setTimeout(() => {
        track.style.transition = 'transform 0.5s ease';
        track.style.transform = 'translateX(0)';
      }, 20);
    });








    const effect = document.querySelector('.effect');
    const buttons = document.querySelectorAll('.navbar button:not(.plus)');

    //const slideWidth = 300;

    let offset = 0;
    let lastX = 0;
    let isDragging = false;

    // дублюємо для циклу
    track.innerHTML += track.innerHTML;

    // рендер з нескінченним циклом
    function render() {
      const fullWidth = slideWidth * slides.length * slides.length;

      if (offset < -fullWidth) offset += fullWidth;
      if (offset > 0) offset -= fullWidth;

      track.style.transform = `translateX(${offset}px)`;
      requestAnimationFrame(render);
    }
    render();

    // Рух
    function dragMove(x) {
      if (!isMouseDown) return; // ❗ без цього НІЧОГО не рухаємо

      const dx = x - lastX;
      lastX = x;

      offset += dx;
    }

    let isMouseDown = false;

    track.addEventListener("mousedown", (e) => {
      isMouseDown = true;
      lastX = e.clientX;
      console.log("Кнопка миші затиснута, button:", e.button);
    });

    track.addEventListener("mouseup", (e) => {
      isMouseDown = false;
      console.log("Кнопка миші відпущена, button:", e.button);
    });

    track.addEventListener("mousemove", (e) => {
      if (isMouseDown) {
        console.log("Тримаємо кнопку і рухаємо мишу. x:", e.clientX, "y:", e.clientY);
        dragMove(e.clientX);
      }
    });




    buttons.forEach(button => {

      button.addEventListener('click', e => {

        const x = e.target.offsetLeft;

        buttons.forEach(btn => {
          btn.classList.remove('active');
        })

        e.target.classList.add('active');

        anime({
          targets: '.effect',
          left: `${x}px`,
          opacity: '1',
          duration: 600
        })

      })

    })
  </script>
  {% endif %}

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const savedCityblock = document.querySelector('.extra');
      const selectedCityblock = document.querySelector('.selected-city');
      let savedCity = localStorage.getItem("selectedCity");
      if (savedCity == null) {
        savedCityblock.style.display = "flex"; //TODO: Save chosen city and hide this block
      }
      else {
        savedCityblock.style.display = "none";
      }
    });
  </script>
</body>

</html>