<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="fade-in">
  <div class="home">
    {%include('header.html')%}


  <main class="main movies_catalog">

    {% for movie in movies %}
    <div class="movie-card">
      <div class="movie-inner">
        <div class="movie-front">
          <div class="movie-back-container">
            <img src="{{ movie.img_src }}" alt="{{ movie.title }}">
          </div>
          
        </div>
   
        <div class="movie-back">
        <div class="movie-back-container">
          <h1 style="font-size: 20px;">{{ movie.name }}</h1>
          <ul>
            <li>Жанр:  {{ movie.genre }}</li>
            <li>Тривалість:  {{ movie.duration }} хв</li>
            <!-- ЯКІСЬ ПРИКОЛИ НЕ МОЖУ ЗРОБИТИ ЩОБ ВСЕ БУЛО З НОВОГО РЯДКА -->
            <li>Вік: {{ movie.age }}</li>
          </ul>
          
          <a href="{{ url_for('movie', movie_name=movie.name) }}">
            <button class="button">Детальніше</button>
          </a>
        </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </main>

  {% include('footer.html') %}

  <script>
    function toggleMenu() {
      document.querySelector('.nav-menu').classList.toggle('active');
    }
    function toggleMenu() {
      document.querySelector('.mobile-menu').classList.toggle('active');
    }
  </script>


</body>

</html>