<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/schedule.css">
    <title>Розклад</title>
</head>
<body class="fade-in">
    <div class="home">
    {% include('header.html') %}

    <main class="schedule">
        <div class="week"></div>

        <div class="sessions"></div>
    </main>

    {% include('footer.html') %}
    </div>
    <script>
        const week_block = document.querySelector(".week");
        const session_block = document.querySelector(".sessions");

        function getDateName(date, needOut, language, genitive = 0){            
            let dateName
            if(genitive == 0){  
                dateName = date.toLocaleDateString([language], {
                    [needOut]: "long"
                });
            }
            else{
                dateName = date.toLocaleDateString([language], {
                    day: "numeric",
                    [needOut]: "long"
                });
            }

            return dateName;
        }

        function createDayObject(element, textContentValue, fatheBlock){
            let dates;
            if(element == "div"){
                dates = Object.assign(document.createElement(element), {
                    className: textContentValue
                });
            }
            else{
                dates = Object.assign(document.createElement(element), {
                    textContent: textContentValue
                });
            }
            
            fatheBlock.appendChild(dates);
            return dates;
        }

        let dayName;
        let contein;

        const sessions = {{ session | tojson }};
        const today = new Date();

        let allDatesSet = new Set();

        Object.values(sessions).forEach(film => {
            Object.keys(film.sessions).forEach(dateStr => {
                allDatesSet.add(dateStr);
            });
        });

        let allDates = Array.from(allDatesSet);
        allDates.sort((a, b) => {
            // перевіряємо як дата
            return new Date(a) - new Date(b);
        });

        allDates.forEach(dateStr => {
                let parts = dateStr.split("-");
                let day = new Date(parts[0], parts[1]-1, parts[2]);

                let dayName = day.toLocaleDateString("uk-UA", { weekday: "long" });
                let monthName = day.toLocaleDateString("uk-UA", { month: "long", day: "numeric" });

                console.log("dayName:", dayName, "monthName:", monthName);

                let contein = createDayObject("div", "day", week_block);
                contein.dataset.date = dateStr;

                createDayObject("h1", monthName, contein);
                if(day.getDate() == today.getDate() &&
                day.getMonth() == today.getMonth() &&
                day.getFullYear() == today.getFullYear()){
                    createDayObject("p", "сьогодні", contein);
                } else {
                    createDayObject("p", dayName, contein);
                }
            });

        document.querySelectorAll(".day").forEach(el => {
            el.addEventListener("click", async () => {
                const date = el.dataset.date;
                
                document.querySelectorAll(".day").forEach(d => {
                    d.classList.remove("active");
                });
                el.classList.add("active");

                try {
                    session_block.innerHTML = "";

                    Object.values(sessions).forEach(film => {
                        // перебираємо всі дати сесій для цього фільму
                        Object.entries(film.sessions).forEach(([dateStr, times]) => {
                            if(dateStr === date){ // тільки для вибраної дати
                                const div = document.createElement("div");
                                div.classList.add("session-conteiner");

                                div.innerHTML = `
                                    <img src="${film.image}" alt="${film.film}">
                                    <div class="session-info">
                                        <h1>${film.film}</h1>
                                        <h3>2D</h3>
                                        <div class="time"></div>
                                    </div>
                                `;

                                session_block.appendChild(div);

                                const infoDiv = div.querySelector(".time");
                                times.forEach(time => {
                                    const p = document.createElement("p");
                                    p.textContent = time;
                                    infoDiv.appendChild(p);
                                });
                            }
                        });
                    });

                } catch (err) {
                    console.error("Failed to load sessions:", err);
                }
            });
        });

    </script>
</body>
</html>