<head>
  {% block styles %}
    <link rel="stylesheet" href="/static/css/sticky_meny.css">
  {% endblock %}
</head>

<div class="modile_menu">
    <div class="mobile_case">
        <img src="" alt="">
        <p>Головна</p>
    </div>
    <div class="mobile_case">
        <img src="" alt="">
        <p>Розклад</p>
    </div>
    <div class="mobile_case">
        <img src="" alt="">
        <p>Квтки</p>
    </div>
    <div class="mobile_case">
        <img src="" alt="">
        <p>Ще</p>
    </div>
</div>

<script>
    const mobie_case = document.querySelector('.mobile_case');
    
</script>